{
    "printWidth": 130,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "bracketSameLine": true,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "ignore",
    "vueIndentScriptAndStyle": false,
    "overrides": [
        {
            "files": ["package.json", "package-lock.json"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
